footer
{
    margin: 100px;
    background-color: #158cc3;
    padding:0px 0 0px;
    line-height:24px;
    color: #000000;
}

#contacta{
    float: left;
    width: 20%;
    margin-right: 1%;
    display: block;
    height: 190px;
}
#contacta p{
    font-size:15px;
}
span{
    font-size:30px;
}
#enlaces{

    float: right;
    width: 20%;
    display: block;
    height: 190px;
}


footer img{
    width: 25px; height: 25px;
}
#copyright{
    padding: 0px;
    clear: both;
    width: 96%;
    text-align:center;
}