ul {
    list-style-type: none;
    margin: 55px;
    padding: 8px;
    overflow: hidden;
    background-color: #158cc3;
    font-size:20px;

}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #006cc3;
}

ul li ul {
    display: none;
}

.desplegable p {
    /* background-color: bisque; */
    color: white;
    text-align: center;
    padding: 0px 16px;
}
