.header
{
    display: grid;
    width: 100%;
    height: 250px;
    background: black;
    grid-template-areas: "img name";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
}

.header > #headerName
{
    grid-area: name;

    color:  #FF3E3E;
    font-size: 120%;
    text-decoration: none;
    text-align: center;
    font-family: cursive;
}

.header > #headerImg
{
    grid-area: img;
    margin-top: 15%;
}

.header > #headerImg img
{
    width: 150%;
}