body {background-image: url("/img/background/bgPM.png");}

.juego {
    display: grid;
    position: relative;
    grid-template-areas: "tablero tablero escenario " "tablero tablero stats " ". botones .  ";
}

.tablero {
    grid-area: tablero;
    border: none ;
}

.containerStats {


    background-color: dimgrey;
    border: solid #FFAFAF;
    border-radius: 30%;
    text-align: left;
    font-family: cursive;
    color: #FF3E3E;
    font-size: 110%;
    margin-bottom: 20%;

    grid-area: stats;
}

.containerStats p {
    text-align-last: center;
    color: #FF3E3E;
    font-size: 150%;
    font-family: cursive;
    /* border: solid #FFAFAF; */
    border-radius: 100%;
    /* background-color: aliceblue; */
}

.stats {
    display: grid;
    grid-template-areas: "fama ingresos . " "repercusion coste . " ". .  dinero";

}

.fama{
    grid-area: fama;
}

.ingresos{
    grid-area: ingresos;
}

.fama, .repercusion {
    padding-left: 10%;
}

.repercusion{
    grid-area: repercusion;
}

.coste{
    grid-area: coste;
}

.dinero{
    padding-top: 10%;
    grid-area: dinero;
}
.containerButtoms {
    grid-area: botones;

    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}


.containerButtoms button {
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 10%;
    color: #FF3E3E;
    font-family: cursive;
    font-size: 110%;
    border: solid 1px black;
    border-radius: 20%;
}

#bFinalizarTurno {
    display: none;
}

.containerButtoms img {
    width: 10%;
    background-color: white;
    border-radius: 20%;
    border: solid 1px black;
    margin-top: 10%;
    margin-bottom: 5%;
}

.escenario {
    grid-area: escenario;
    border: none;
    padding-top: 5%;
}

.carta{
    position: absolute;
    border: none;
    display: none;
    top: 20%;
    left: 25%;
    z-index: 1;
}

#cPopUp {
    position: absolute;
    top: 10%;
    left: 90%;
    font-size: 170%;
    color: #FF3E3E;
    border-radius: 50%;
    border-color: #FFAFAF;
    border-style: solid;
    padding: 1%;
    display: none;
    z-index: 2;
    /* background-color: white; */
}

#cPopUp:hover{
    background-color: #FF3E3E;
    color: #FFAFAF;

}

img#dado1, img#dado2 {width: 25%;}


