body {background-image: url("/img/background/bgPM.png");}

.PGuardada {
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    margin: 0 auto;
    padding-top: 2%;
    padding-bottom: 2%;
}

.container {
    display: flex;
    align-content: space-around;
    flex-direction: column-reverse;
}

input {
    color: #FF3E3E;
    text-decoration: none;
    text-align: center;
    font-family: cursive;
    font-size: 120%;
    width: 120%;
    border-width: thin;
    transition: all .3s ease-in-out;

}

input:hover {
    background-color: darkgray;
    color: #FFAFAF;
}

input.nuevaPartida {}